body{
    margin: 0;
}
main{
    padding-top: 118px;
}

#error{
    color: red;
}
#acept{
    color: green;
}
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p,h1,h2,h3{
    margin: 0;
}
h2{
    font-size: 38px;
    font-weight: 400;
}
.container{
    max-width: 1256px;   
    padding: 0 20px;
    margin: 0 auto;
}
.navigation{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    padding: 12px 0;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 100;
   
}
.navigation_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation_wrapper ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.navigation_wrapper ul > li + li{
    margin-left: 58px;
}
.navigation_wrapper ul li a{
    color: #000;
    font-weight: 400;
    font-size: 18px;
    transition: .3s;
    position: relative;
}
.navigation_wrapper ul li a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #B84622;
    transition: .3s;
}
.navigation_wrapper ul li a:hover{
    color: #B84622;
    transition: .3s;
}
.navigation_wrapper ul li a:hover::before{
    width: 100%;
    transition: .3s;
}
.navigation_wrapper .button_callBack{
    position: relative;
}
.navigation_wrapper .request_call{
    color: #B84622;
    font-weight: 400;
    font-size: 18px;
    display: block;
    border: 2px solid #B84622;
    padding: 13px 55px;
    transition: .3s;
}
.navigation_wrapper .button_callBack .request_call:hover{
    background-color: #B84622;
    color: #fff;
    transition: .3s;
}


.navigation_wrapper  .order_callBack{
    position: absolute;
    top: 85px;
    right: 0;
    width: 475px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.25);
    display: none;
}
.navigation_wrapper .button_callBack .order_callBack #acept,
.navigation_wrapper .button_callBack .order_callBack #error{
    margin-top: 5px;
    font-size: 12px;
}
.navigation_wrapper .button_callBack .order_callBack .forder_callBack_content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.navigation_wrapper .button_callBack .order_callBack input{
    background: #FFFFFF;
    border: 1px solid #D0D0D0;
    outline: none;
    height: 30px;
    width: 170px;
    padding: 0 10px;
}

.navigation_wrapper .button_callBack .order_callBack button{
    background: #B84622;
    border: none;
    outline: none;
    color: #fff;
    height: 30px;
    padding: 0 10px;
    cursor: pointer;
}
.navigation_wrapper .basket{
    position: relative;
}
.quantity_basket{
    position: absolute;
    top: -17px;
    right: -13px;
    background: #B84622;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quantity_basket span{
    color: #fff;
    font-size: 13px;
}


.first_block{
    position: relative;
    overflow: hidden;
    padding: 108px 0;
}

.first_block .first_bg{
    position: absolute;
    top: -115px;
    right: 0;
    z-index: -1;
}
.first_block .second_bg{
    position: absolute;
    bottom: -237px;
    right: 0;
    z-index: -1;
}
.first_block .three_bg{
    position: absolute;
    top: -60px;
    left: 0;
    z-index: -1;
}
.first_block_wrapper{
    display: flex;
}
.first_block_wrapper .txt{
    padding-top: 55px;
    margin-left: 98px;
}
.first_block_wrapper h1{
    font-size: 45px;
    font-weight: 300;
    color: #000;
}
.first_block_wrapper h1 span{
    font-weight: 400;
}
.first_block_wrapper .description{
    display: flex;
    margin-top: 60px;
}
.first_block_wrapper .description p{
    margin-left: 40px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}
.info_abut_us{
    background-image: url('../img/info/bg_img.png');
    background-size: cover;
}
.info_abut_us_wrapper{
    display: flex;
    justify-content: space-evenly;
    padding: 108px 0;
}
.info_abut_us_wrapper .info_item{
    flex-basis: 30%;
    text-align: center;
}
.info_abut_us_wrapper .info_item .icon{
    text-align: center;
    margin-bottom: 16px;
}
.info_abut_us_wrapper .info_item .txt span{
    font-weight: 400;
    font-size: 18px;
}






.catalog{
    padding: 108px 0;
    position: relative;
}
.title{
    display: flex;
    align-items: center;
}
.title div{
    background-color: #C62628;
    width: 70px;
    height: 2px;
}
.title h2{
    margin-left: 12px;
}


.catalog_wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;
    margin-right: -35px;
    
}


.catalog_wrapper .catalog_item{
    display: block;
    text-align: center;
    margin-top: 24px;
    margin-right: 34px;
    flex-basis: 30%;
    padding: 42px 61px;
    
}
.catalog_wrapper .catalog_item:hover{
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
}
.catalog_wrapper .catalog_item .txt{
    margin-top: 24px;
}
.catalog_wrapper .catalog_item .txt span{
    font-weight: 500;
    font-size: 18px;
    color: #000;
}

.catalog .bg_img{
    position: absolute;
    bottom: -20px;
    left: 0;
}






.stock_slider{
    margin-top: 64px;
    width: 98%;
    /* padding: 0 40px; */
}
.stock_slider_wrapper{
    display: flex;
    padding: 15px 0px 50px 0px;

}

.stock_slider_item {
    padding: 68px 62px 32px;
    display: block;
    flex: 0 0 334px;
    text-align: center;
    position: relative;
    
}
.stock_slider_item:hover{
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
}
.stock_slider_item .action{
    background-color: #E21F1F;
    width: 115px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 11px;
    right: 0;
}
.stock_slider_item .action span{
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    
}



.stock_slider_item .txt .name{
    font-weight: 500;
    font-size: 18px;
    margin-top: 24px;
    display: block;
}

.stock_slider_item .txt .price{
    margin: 16px 0 26px 0;
    display: flex;
    justify-content: space-evenly;
}
.stock_slider_item .txt .price .old_price{
    font-weight: 400;
    font-size: 16px;
    text-decoration: line-through;
}
.stock_slider_item .txt .price .new_price{
    font-weight: 400;
    font-size: 18px;
    color: #B84622;
}

.stock_slider_item .txt .buy{
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    background: #B84622;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 42px ;
    display: inline-block;
    transition: .3s;
}
.stock_slider_item .txt .buy:hover{
    background: #752e18;
    transition: .3s;
}

.stock_slider_wrapper .swiper-slide{
    display: flex;
    justify-content: center;
    
    
}


.stock_slider .swiper-button-prev{
    left: 0;
}
.stock_slider .swiper-button-next{
    right: 0;
}

.stock_slider .swiper-button-prev::after,
.stock_slider .swiper-button-next::after{
    display: none;
}

.stock_slider .swiper-pagination span{
    width: 22px;
    height: 22px;
    background: transparent;
    border: 2px solid #B84622;
    opacity: 1;
}


.stock_slider .swiper-pagination .swiper-pagination-bullet-active{
    background: #B84622;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}





.frequent{
    margin-top: 106px;
    position: relative;
}

.frequent .freaq_bg_img{
    position: absolute;
    right: 0;
    top: -280px;
}












.shipping_payment{
    background-image: url('../img/shoping/bg_img.png');
    padding: 108px 0;
    margin-top: 108px;
    background-size: cover;
}
.shipping_payment_wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 64px;
    max-width: 1170px;
}

.shipping_payment_item{
    background-color: #fff;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    padding: 30px 47px 31px 40px;
    flex-basis: 50%;
}
.shipping_payment_item:hover{
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
    z-index: 10;
    border-color: transparent !important;
}

.shipping_payment_item .circle{
    flex: 0 0 82px;
    height: 82px;
    border-radius: 50%;
    border: 2px solid #B84622;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shipping_payment_item .circle span{
    font-weight: 900;
    font-size: 22px;
    color: #B84622;
    
}
.shipping_payment_item .txt{
    margin-left: 27px;
}
.shipping_payment_item .txt span{
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    color: #000;
}
.shipping_payment_item .txt p{
    font-weight: 400;
    font-size: 16px;
    max-width: 389px;
    margin-top: 13px;
    line-height: 23px;
    color: #000;
}


.shipping_payment_item:nth-child(1){
    border-right-color:  #b8452236;
    border-bottom-color:   #b8452236;
}
.shipping_payment_item:nth-child(2){
    border-left-color:  #b8452236;
    border-bottom-color:   #b8452236;
}
.shipping_payment_item:nth-child(3){
    border-right-color:  #b8452236;
    border-top-color:   #b8452236;
}
.shipping_payment_item:nth-child(4){
    border-left-color:   #b8452236;
    border-top-color:   #b8452236;
}


.faq{
    padding: 108px 0;
    position: relative;
}
.faq_bg_img{
    position: absolute;
    right: 0;
    bottom: 90px;
    z-index: -1;
}
.faq_wrapper{
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 64px;
}
.faq_wrapper > .faq_item + .faq_item{
    margin-top: 12px;
}
.faq_item{
    width: 100%;
    border: 1px solid #B84622;
    
    cursor: pointer;
}

.faq_item .faq_title{
    padding: 13px 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq_item .faq_title span{
    font-weight: 500;
    font-size: 18px;
    color: #202124;
}

.faq_item .faq_body{
    border-top: 1px solid #B84622;
    
    display: none;
    padding: 13px 44px;
}

.faq_item .faq_body p{
    line-height: 23px;
}

.faq_item .faq_title .icon img{
    transition: .3s;
}
.faq_item .faq_title.faq-active .icon img{
    transform: rotate(180deg);
    transition: .3s;
}

.footer{
    background-color: #262629;
    padding: 108px 0;
}
.footer_wrapepr{
    display: flex;
    justify-content: space-between;
}
.footer_wrapepr > div{
    width: 194px;
}
.footer_wrapepr .logo{
    width: 132px;
}

.footer_wrapepr .logo span{
    color: #8F8F8F;
    font-weight: 300;
    font-size: 14px;
    display: block;
    margin-top: 15px;
}



.footer_wrapepr .nav a{
    font-weight: 400;
    font-size: 18px;
    color: #A8A8A8;
    overflow-wrap: break-word;

}
.footer_wrapepr .nav ul{
    margin-top: 24px;
}
.footer_wrapepr .nav ul li a{
    font-size: 12px;
}

.footer_wrapepr .nav ul > li + li{
    margin-top: 5px;
}
.footer_wrapepr .nav a:hover{
    color: #fff;
}

.footer_wrapepr .footer_info{
    display: flex;
    flex-direction: column;
    text-align: right;
}
.footer_wrapepr .footer_info .btn{
    font-weight: 400;
    font-size: 18px;
    color: #B84622;
    border: 2px solid #B84622;
    padding: 15px 24px;
    margin-bottom: 16px;
    transition: .3s;
}
.footer_wrapepr .footer_info .btn:hover{
    color: #fff;
    background-color: #B84622;
    transition: .3s;
}
.footer_wrapepr .footer_info .schedule,
.footer_wrapepr .footer_info .geo{
    font-weight: 300;
    font-size: 13px;
    color: #fff;
}
.footer_wrapepr .footer_info .phone{
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    margin-bottom: 16px;
}
.footer_wrapepr .footer_info .phone:hover{
    color: #B84622;
}
.footer_wrapepr .footer_info .mail{
    font-weight: 400;
    font-size: 16px;
    color: #B84622;
    margin: 16px 0;
}
.footer_wrapepr .footer_info .mail:hover{
    color: #fff;
}


/* catalog */
.catalog_page{
    overflow: hidden;
}
.catalog_page_bg{
    position: absolute;
    left: 0;
    top: -103px;
    z-index: -1;
}


.catalog_freq_bg{
    position: absolute;
    left: 0;
    top: -220px;
}
.catalogPage_stock{
    position: relative;
}
.catalog_stock_bg{
    position: absolute;
    right: 0;
    top: -200px;
}



.page_links{
    margin-top: 24px;
}
.page_links ul 
{
    display: flex;
}
.page_links ul li a{
    font-weight: 400;
    font-size: 16px;
    color: #202124;

}
.page_links ul li a::after{
    content: "/";
    margin: 0 10px;
}
.page_links ul li span{
    font-weight: 400;
    font-size: 16px;
    color: #AFAFAF;
}
.category_catalog_wrapper{
    padding-left: 80px;
}
.category_catalog_wrapper .stock_slider_item{
    margin-right: 32px;
}




/* product card */
.product_card_page{
    overflow: hidden;
}
.product_info{
    position: relative;
    margin: 108px 0;
    
}
.product_info .catalog_page_bg{
    position: absolute;
    top: -212px;
    left: 0;
}

.product_info_wrapper{
    display: flex;
}

.product_info_wrapper .product_txt{
    margin-left: 100px;
}
.product_info_wrapper .product_txt .prod_title{
    display: flex;
    align-items: center;
}

.product_info_wrapper .product_txt .prod_title div{
    width: 70px;
    height: 2px;
    background-color: #C62628;
    margin-right: 12px;
}


.product_info_wrapper .product_txt p{
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin-top: 25px;
    max-width: 528px;
}

.product_info_wrapper .product_txt .product_card_price{
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 456px;
    margin-top: 60px;
    
}

.product_info_wrapper .product_txt .product_card_price .new_price{
    font-weight: 400;
    font-size: 24px;
    color: #B84622;
}

.product_info_wrapper .product_txt .product_card_price .old_price{
    font-weight: 400;
    font-size: 16px;
    color: #202124;
    display: block;
    margin:-9px 0 0 0;
    text-decoration: line-through;
}

.product_info_wrapper .product_txt .product_card_price .btn,
.product_info_wrapper .product_txt .product_card_price .order_product{
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    background: #B84622;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 13px 43px 12px 44px;
    display: inline-block;
    transition: .3s;
    
}
.product_info_wrapper .product_txt .product_card_price .btn:hover,
.product_info_wrapper .product_txt .product_card_price .order_product:hover{
    background: #752e18;
    transition: .3s;
}
.product_info_wrapper .product_txt .product_card_price .order_product{
    display: none;
}
.product_info_wrapper .product_txt .product_card_price .add_in_basket{
    position: relative;
}
.product_info_wrapper .product_txt .product_card_price .add_in_basket .add_message{
    position: absolute;
    bottom: -18px;
    right: 0;
    font-size: 13px;
    color: #202124;
    display: none;
}
.product_info_wrapper .product_txt .product_card_price .add_in_basket.add_in_basket-active .btn{
    display: none;
}
.product_info_wrapper .product_txt .product_card_price .add_in_basket.add_in_basket-active .order_product{
    display: inline-block;
}
.suitable_recipes .action,
.similar_products .action{
    display: none ;
}


.suitable_recipes .stock_slider_item .txt span{
    color: #000;
}

.product_card_page .stock{
    margin-bottom: 108px;
}

.suitable_recipes,
.similar_products{
    position: relative;
}

.suitable_recipes .recept_bg_img{
    position: absolute;
    right: 0;
    bottom: -270px;
}

.similar_products .similar_bg_img{
    position: absolute;
    left: 0;
    bottom: -229px;
}


/* shipping_payment_info */
.shipping_payment_page{
    overflow: hidden;
}
.shipping_payment_info{
    margin: 108px 0;
    position: relative;
}
.shipping_payment_info .catalog_page_bg{
    position: absolute;
    top: -213px;
    left: 0;
}
.shipping_info_wrapper{
    display: flex;
    flex-wrap: wrap;
}
.shipping_info_item{
    margin-right: 116px;
    margin-bottom: 32px;
}
.shipping_info_item h3{
    font-weight: 400;
    font-size: 38px;
}
.shipping_info_item ul{
    margin-top: 16px;
}
.shipping_info_item ul li span{
    font-weight: 400;
    font-size: 24px;
}
.shipping_info_item ul > li + li{
    margin-top: 10px;
}



/* recipes */
.recipes_page{
    overflow: hidden;
}
.recipes_catalog{
    position: relative;
}
.recipes_catalog .catalog_page_bg{
    position: absolute;
    top: -105px;
    left: 0;
}
.recipes_catalog .catalog_item .txt p{
    font-weight: 500;
    font-size: 12px;
    color: #202124;
    margin-top: 5px;
}




/* basket  */
.basket_page{
    overflow: hidden;
}
.basket_body{
    margin-bottom: 108px;
    padding-top: 108px;
    position: relative;
}
.basket_body .catalog_page_bg{
    position: absolute;
    top: -103px;
    left: 0;
}
.basket_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
    padding: 32px 42px;
    margin-bottom: 8px;
}

.basket_item .basket_counter{
    display: flex;
}

.basket_item .name_prod{
    font-weight: 500;
    font-size: 18px;
    color: #202124;
    width: 223px;
}


.basket_item .basket_counter{
    width: 146px;
    border: 1px solid #202124;
    display: flex;
    justify-content: space-between;
}

.basket_item .basket_counter .count_info{
    width: 72px;
    border: none;
    border-left: 1px solid #202124;
    border-right: 1px solid #202124;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.basket_item .basket_counter button{
    width: 37px;
    height: 37px;
    border: none;
    background-color: #fff;
    cursor: pointer;
}
.basket_item .basket_counter button span{
    font-weight: 900;
    font-size: 17px;
}
.basket_item .price span{
    font-weight: 400;
    font-size: 18px;
    color: #202124;
}

.basket_item .outcome span{
    font-weight: 400;
    font-size: 18px;
    color: #B84622;
}

.basket_item .delete_basketItem{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #D02828;
    text-align: center;
    cursor: pointer;
}

.basket_item .delete_basketItem span{
    color: #fff;
    font-weight: 900;
    font-size: 33px;
    transform: rotate(-45deg);
    display: block;
}
.basket_item .price,
.basket_item .outcome{
    width: 100px;
}
.basket_wrapper .name_col{
    display: flex;
    padding-left: 50px;
    margin-bottom: 7px;
}

.basket_wrapper .name_col span{
    display: block;
    font-weight: 500;
    font-size: 14px;

}

.basket_wrapper .name_col span:nth-child(2){
    margin: 0 263px 0 150px;
}
.basket_wrapper .name_col span:nth-child(4){
    margin: 0 128px 0 100px;
}
.basket_wrapper .order_basket_prod{
    margin-top: 24px;
}
.basket_wrapper .order_basket_prod .all_sum{
    display: flex;
    justify-content: flex-end;
}
.basket_wrapper .order_basket_prod .all_sum .txt{
    font-weight: 400;
    font-size: 28px;
}
.basket_wrapper .order_basket_prod .all_sum .all_sum_val{
    font-weight: 900;
    font-size: 28px;
}

.basket_wrapper .order_basket_prod .block_btn{
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
}
.basket_wrapper .order_basket_prod .basket_order_btn{
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    background: #B84622;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 23px 88px 22px;
    display: inline-block;
    transition: .3s;
   
}
.basket_wrapper .order_basket_prod .basket_order_btn:hover{
    background: #752e18;
    transition: .3s;
}

.basket_wrapper .order_basket_prod .form_to_order form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 32px;
}
.basket_wrapper .order_basket_prod .form_to_order form > div + div{
    margin-top: 15px;
}
.basket_wrapper .order_basket_prod .form_to_order input{
    background: #FFFFFF;
    border: 1px solid #D0D0D0;
    width: 588px;
    height: 64px;
    outline: none;
    font-size: 20px;
}


.basket_wrapper .order_basket_prod .form_to_order span{
    font-weight: 400;
    font-size: 24px;
    color: #000;
    display: inline-block;
    margin-right: 32px;
}
.basket_wrapper .order_basket_prod .form_to_order form button{
    border: none;
    outline: none;
    background: #B84622;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 23px 88px 22px;
    margin-top: 47px;
    cursor: pointer;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    transition: .3s;
}
.basket_wrapper .order_basket_prod .form_to_order form button:hover{
    background: #752e18;
    transition: .3s;
}


.basket_wrapper .order_basket_prod .form_to_order{
    display: none;
}

.modal_order_completed{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 90%;
    background: rgba(0, 0, 0, 0.85);
    height: 712px;
    text-align: center;
    display: none;
}

.modal_order_completed h3{
    font-weight: 400;
    font-size: 50px;
    color: #fff;
    width: 747px;
    margin: 0 auto;
    margin-top: 234px;
    margin-bottom: 90px;
}
.modal_order_completed .btn_to_home{
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    background: #B84622;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 23px 106px 22px 107px;
    display: inline-block;
    transition: .3s;
}

.modal_order_completed .btn_to_home:hover{
    background: #752e18;
    transition: .3s;
}

/* contacts */
.contacts_page{
    overflow: hidden;
}
.contacts{
    padding: 108px 0;
    position: relative;
}
.contacts .catalog_page_bg{
    position: absolute;
    top: -105px;
    left: 0;
}
.contacts_wrapper{
    display: flex;
    justify-content: space-between;
}

.contacts_wrapper .contact_us{
    display: flex;
    flex-direction: column;
    width: 175px;
}

.contacts_wrapper .contact_us .day_work{
    font-weight: 300;
    font-size: 14px;
    color: #202124;
}
.contacts_wrapper .contact_us .phone{
    font-weight: 400;
    font-size: 22px;
    color: #202124;
}
.contacts_wrapper .contact_us .geo{
    font-weight: 400;
    font-size: 16px;
    color: #202124;
    margin-top: 16px;
}

.contacts_wrapper .contact_us .mail{
    font-weight: 400;
    font-size: 16px;
    color: #B84622;
    margin-top: 16px;
}

.contacts_wrapper .contact_us .social_links{
    display: flex;
    margin-top: 16px;
}

.contacts_wrapper .contact_us .social_links a:first-child{
    margin-right: 10px;
}

.contacts_wrapper .form_requestCall{
    width: 352px;
}

.contacts_wrapper .form_requestCall input{
    width: 100%;
    border: 1px solid #D0D0D0;
    background-color: #fff;
    outline: none;
    height: 64px;
    font-weight: 400;
    font-size: 16px;
    padding: 0 24px;
    margin-bottom: 15px;
}
.contacts_wrapper .form_requestCall button{
    background: #B84622;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    border: none;
    padding: 23px 87px 22px 88px;
    cursor: pointer;
    transition: .3s;
}
.contacts_wrapper .form_requestCall button:hover{
    background: #752e18;
    transition: .3s;
}
.contacts_wrapper .map{
    
    width: 517px;
    
}

.contacts_wrapper .map img{
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
}





.contacts_page .modal_order_completed{
    
    top: 170px;
}


/* open_recept */




.openRecipt_page{
    overflow: hidden;
}

.open_recipt{
    padding: 108px 0;
    position: relative;
}
.open_recipt .catalog_page_bg{
    position: absolute;
    top: -105px;
    left: 0;
}
.open_recipt_wrapper .top_page{
    display: flex;
    justify-content: space-between;
}


.open_recipt_wrapper .top_page .txt{
    max-width: 611px;
}
.open_recipt_wrapper .top_page .txt ul{
    margin-top: 24px;
    
}

.open_recipt_wrapper .top_page .txt ul li{
    position: relative;
    padding-left: 15px;
}
.open_recipt_wrapper .top_page .txt ul li span{
    font-weight: 300;
    font-size: 16px;
    color: #000;
    line-height: 24px;
}
.open_recipt_wrapper .top_page .txt ul li .num{
    position: absolute;
    left: 0;
    font-weight: 900;
    font-size: 16px;
    color: #000;
}

.open_recipt_recipts{
    margin: 108px 0;
}


.open_recipt_recipts .stock_slider_item .txt span{
    color: #000;
}

.open_recipt_recipts{
    position: relative;
}

.open_recipt_recipts .recipt_bg{
    position: absolute;
    right: 0;
    top: -210px;
}
.burger{
    display: none;
  
}
.burger .burger_button{
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.burger .burger_button div{
    width: 100%;
    height: 5px;
    background-color: #B84622;
    border-radius: 5px;
}

.nav_content{
    position: relative;
}
.burger .burger_menu {
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #fff;
    z-index: 100;
    width: 300px;
    height: 300px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  
    display: none;
}
.burger .burger_menu .burger_menu_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.burger .burger_menu .burger_nav{
    display: flex;
    flex-direction: column;
}
.burger .burger_menu .burger_nav li{
    margin: 0;
    text-align: center;
}
.burger .burger_menu .burger_nav > li + li{
    margin-top: 10px;
    
}
.burger .burger_menu .burger_nav li a{
    font-size: 20px;
}
.burger .burger_menu .burger_request_call{
    display: inline-block;
    color: #B84622;
    font-weight: 400;
    font-size: 18px;
    border: 2px solid #B84622;
    padding: 15px;
}

.burger .burger_menu .burger_basket{
    position: relative;
}
.burger .burger_menu .burger_basket .quantity_basket{
    position: absolute;
}










@media screen and (max-width: 1280px ) {
    .catalog_wrapper{
        margin-right: 0;
    }
    .catalog_wrapper .catalog_item{
        margin-right: 13px;
    }
    .shipping_payment_wrapper{
        justify-content: center;
    }
    .shipping_payment_item{
        flex-basis: 40%;
    }
    
}
@media screen and (max-width: 1024px ){
    .catalog_wrapper .catalog_item{
        margin-right: 0;
        flex-basis: 50%;
    }
    .navigation_wrapper ul li a{
        font-size: 15px;
    }
    .navigation_wrapper .request_call{
        padding: 13px 24px;
    }
    .stock_slider{
        width: 90%;
        margin: 0 auto;
    }
    .first_block_wrapper .description{
       flex-direction: column;
       margin-top: 20px;

    }
    .first_block_wrapper .description p{
        margin-left: 0;
        margin-top: 20px;
    }
    .category_catalog_wrapper .stock_slider_item {
        flex-basis: 43%;
    }
    .product_info_wrapper .product_txt{
        margin-left: 30px;
    }
    h2{
        font-size: 32px;
    }
    .basket_wrapper .name_col span:nth-child(2) {
        margin: 0 214px 0 105px;
    }
    .basket_wrapper .name_col span:nth-child(4) {
        margin: 0 90px 0 50px;
    }
    .contacts_wrapper{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .contacts_wrapper .map{
        margin-top: 35px;
    }
    .open_recipt_wrapper .top_page{
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .footer_wrapepr{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .footer_wrapepr > div{
        margin-right: 87px;
        margin-bottom: 55px;
    }
    .footer_wrapepr > div:last-child{
        margin-right: 0;
    }
}
@media screen and (max-width: 800px ){
    .shipping_payment_item{
        flex-basis: 100%;
        border: none;
        border-bottom:1px solid #b8452236;
    }
    .shipping_payment_item:last-child{
        border-bottom: none;
    }
    .catalog_wrapper .catalog_item{
        padding: 42px 0;
    }
    .first_block_wrapper > .img{
        width: 550px;
    }
    .first_block_wrapper > .img img{
        width: 100%;
    }
    .first_block .first_bg{
        right: -75%;
    }
    .first_block .second_bg {
        bottom: -302px;
        right: -156px;
    }
   
   
    .navigation_wrapper .nav_links,
    .navigation_wrapper .request_call,
    .navigation_wrapper .basket{
        display: none;
    }
    .burger{
        display: block;
    }
    .burger_nav{
        display: block;
    }
    .category_catalog_wrapper .stock_slider_item {
        flex-basis: 43%;
        padding: 68px 0px 32px;
    }
    .product_info_wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }
    .product_info_wrapper .product_txt{
        margin-left: 0;
    }
    .basket_item_wrapper{
        overflow: auto;
    }
    .basket_item_wrapper .basket_item_content{
        width: 1032px;
    }
    .basket_item{
        margin-left: 20px;
        width:1000px;
        
    }
    .modal_order_completed h3{
        width: 100%;
        font-size: 37px;
    }
    .basket_wrapper .order_basket_prod .form_to_order form > div{
        width: 100%;
        
    }
    .basket_wrapper .order_basket_prod .form_to_order form > div input{
        width: 100%;
    }
    .footer_wrapepr > div {
        margin-right: 5px;
        margin-bottom: 55px;
    }
    .burger .burger_menu{
        height: auto;
        padding: 20px 0;
        
    }
    .burger_menu_content .order_callBack{
        position: static;
        width: 210px;
        box-shadow: none;
        padding: 20px 0;
    }
    .burger_menu_content .forder_callBack_content{
        flex-direction: column;
    }
    .burger_menu_content .button_callBack{
        text-align: center;
    }
    .burger_menu_content .button_callBack input{
        margin-bottom: 10px;
        width: 100% !important;
    }
    .burger_menu_content .burger_nav li{
        margin: 0 0 10px 0 !important; 
    }
    .burger_menu_content .burger_basket{
        margin-top: 30px;
    }
    .burger_menu_content #aceptBurg{
        color: green;
        margin-top: 5px;
    }
    .burger_menu_content #errorBurg{
        color: red;
        margin-top: 50px;
    }



}
@media screen and (max-width: 600px ) {
    .catalog_wrapper .catalog_item{
        flex-basis: 100%;
    }
    .stock_slider{
        width: 100%;
    }
    .first_block_wrapper{
        flex-wrap: wrap;
    }
    .first_block .first_bg {
        right: -230%;
    }
    .first_block .second_bg{
        right: -100%;
    }
    .info_abut_us_wrapper{
        flex-wrap: wrap;
    }
    .info_abut_us_wrapper .info_item{
        margin-bottom: 40px;
    }
    .footer_wrapepr{
        justify-content: space-around;
    }
    .footer_wrapepr .nav{
        margin-right: 0;
    }
    h2{
        font-size: 30px;
    }
    .navigation{
        padding: 0;
    }
    .navigation .logo img{
        width: 70px;
    }
    .burger .burger_menu{
        top: 51px;
    }
    .category_catalog_wrapper{
        padding: 0;
        justify-content: center;
    }
    .category_catalog_wrapper .stock_slider_item {
        flex-basis: 67%;
        padding: 68px 0px 32px;
        margin-right: 0;
    }
    .shipping_payment{
        margin-top: 0;
    }
    .product_info_wrapper .product_img{
        width: 300px;
    }
    .product_info_wrapper .product_img img{
        width: 100%;
    }
    .product_info_wrapper .product_txt .product_card_price{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .product_info_wrapper .product_txt .product_card_price .add_in_basket  a{
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
    }
    .product_card_page .page_links ul li:nth-child(1),
    .product_card_page .page_links ul li:nth-child(2){
        display: none;
    }
    .basket_wrapper .order_basket_prod .all_sum .all_sum_val,
    .basket_wrapper .order_basket_prod .all_sum .txt{
        font-size: 25px;
    }
    .basket_item {
        margin-left: 20px;
        width: 840px;
    }
    .basket_item_wrapper .basket_item_content {
        width: 870px;
    }
    .shipping_info_item h3{
        font-size: 25px;
    }
    .shipping_info_item ul li span{
        font-size: 20px;
    }
    .contacts_wrapper .form_requestCall{
        margin-top: 35px;
    }
    .contacts_wrapper .map{
        height: auto;
    }
    .contacts_wrapper .map,
    .contacts_wrapper .map img{
        width: 100%;
    }
    .open_recipt_wrapper .top_page .img{
        width: 100%;
        text-align: center;
        margin-bottom: 35px;
    }
    
    .open_recipt_wrapper .top_page .img img{
        width: 70%;
        
    }
    .modal_order_completed{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0 !important;
    }
    .basket_wrapper .name_col span:nth-child(2) {
        margin: 0 174px 0 105px;
    }
    .basket_wrapper .name_col span:nth-child(4) {
        margin: 0 51px 0 29px;
    }
    .burger .burger_menu{
        width: 100%;
        top: 100%;
        right: 0;
    }
    .footer_wrapepr .logo{
        flex-basis: 50%;
        text-align: center;
    }
    .footer_wrapepr > div {
        margin-right: 0;
        margin-bottom: 55px;
        flex-basis: 50%;
    }
    .footer_wrapepr .footer_info .btn{
        padding: 15px 20px;
    }
}